@import "./colors.scss";

$bp-largest: 80em;
$bp-large: 56.25em;
$bp-md: 43.75em;
$bp-sm: 35em;

.nav-container {
  // height: 100%;
  // width: 27rem;

  @media only screen and (max-width: $bp-large){
    width: 100%;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  }

  @media only screen and (max-width: $bp-sm){
    // display: flex;
    // justify-content: space-between;
    align-items: center;
  }

  width: 27rem;
  position: sticky;
  // overflow-x: hidden;
  background-color: white;
    @media only screen and (max-width: $bp-largest){
      font-size: 1.7rem;
    }
    
  font-size: 1.5rem;
  z-index: 100;

  .heading {
    @media only screen and (max-width: $bp-large){
      margin-top: 3rem;
      margin-bottom: 2.5rem;
      font-size: 4rem;
    }

    @media only screen and (max-width: $bp-sm){
      margin-top: 0rem;
      margin-bottom: 0rem;
      font-size: 3rem;
      padding: 2rem;
      float: left;
    }
    
    font-size: 3.5rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 500;
    span {
      color: grey;
    }
  }

  .sidenav {

    width: 22rem;
    padding-left: 5rem;
    
    @media only screen and (max-width: $bp-large){
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 0;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.425);
      padding: 1rem;
    }

    @media only screen and (max-width: $bp-sm){
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
      display: none;
    }
    
    &-section {
      margin-bottom: 4rem;
      @media only screen and (max-width: $bp-large){
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
      }

      @media only screen and (max-width: $bp-sm){
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
      }
    }

    p {
      font-weight: 700;
      margin-bottom: 1rem;
      @media only screen and (max-width: $bp-large){
        display: none;
        visibility: hidden;
      }
    }

    &-item {
      text-decoration: none;
      @media only screen and (max-width: $bp-large){
        justify-content: center;
        align-items: center;
        padding: .5rem 2rem;
        margin: .5rem;
      }

      @media only screen and (max-width: $bp-sm){
        justify-content: flex-start;
      }
      display: flex;
      padding-left: 1rem;
      margin-bottom: 1rem;
      transition: all 0.2s;
      &-img {        
        width: 1.3rem;
      }
      span {
        padding: 6px 8px 6px 15px;
        text-decoration: none;
        color: black;
        display: block;
      }
    }
  }
  .sidenav-item:hover:not(.sidenav-item__active) {
    background-color: rgb(221, 221, 221);
    border-radius: 0.5rem;
    // transform: scale(1.07);
  }
  .sidenav-item:active {
    transform: scale(1.04);
  }

  .sidenav-item__active {
    background-color: #e9defa94;
    border-radius: 0.5rem;
  }
}

.menuIcon{
  display: none;
  width: 3rem;
  margin: 2.7rem;
  @media only screen and (max-width: $bp-sm){
    display: block;
    float: right;
  }
}

.showMenu{
  @media only screen and (max-width: $bp-sm){
    display: flex;
  }
}