
$bp-largest: 80em;
$bp-large: 56.25em;
$bp-md: 43.75em;
$bp-sm: 35em;

.search-container {
  padding: 6rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-warraper{
    
}
.search-bar-container{
    position: relative;
}

.search-bar {
    font-size: 1.7rem;
    color: grey;
    width:63rem;
    padding: 1.3rem 2rem;
    border-radius: 1rem;
    border: none;
    background-color: #ececec;
    box-shadow: 0 1px 15px -3px rgba(0, 0, 0, 0.082), 0 1px 6px -2px rgba(0, 0, 0, 0.014);
    &:focus {
        outline: none;
    }

    &-icon {
        width: 1.8rem;
        position: absolute;
        top: 1.3rem;
        right:2rem;
    }
}

.books-container{
    flex: 1;
    align-self: stretch;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(27rem,1fr));

    @media only screen and (max-width: $bp-md) {
        grid-template-columns: repeat(auto-fill,minmax(35rem,1fr));
    }

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: repeat(auto-fill,minmax(35rem,1fr));
    }
    

    grid-gap: 1.2rem;
}

.book{
    background-color: aqua;
    font-size: 1.4rem;
    // padding: 12rem;
}

.search-Img{
    margin-top: 8rem;
    width: 75rem;
    filter: invert(6%) sepia(79%) saturate(1) hue-rotate(611deg) brightness(356%) contrast(93%);

    & ~ p{
        font-size: 2rem;
        font-weight: 500;
        color: rgb(153, 153, 153);
        margin-top: -5rem;
        letter-spacing: .3rem;
        text-align: left;
        margin-left: 15rem;
    }

    & ~ p span{
        font-size: 2rem;
        color: #ab88e0;
    }
}


.search-Error{
    margin-top: 8rem;
    width: 75rem;
    filter: invert(80%) sepia(79%) saturate(1) hue-rotate(211deg) brightness(356%) contrast(93%);

    & ~ p{
        font-size: 1.8rem;
        font-weight: 500;
        color: rgb(153, 153, 153);
        margin-top: -6rem;
        letter-spacing: .3rem;
        text-align: center;
    }

    & ~ p span{
        font-size: 2.5rem;
        color: #ab88e0;
    }
}



